.Picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.PictureTxt p{
    font-size: 25px;
}

.PictureTxt img{
    width: 650px;
}