.App {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 900px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-color: transparent transparent; /*just hides the scrollbar for firefox */
    ::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
    }
}

/* Firefox*/
  .App ::-moz-scrollbar {
    display: none;
  }
   
  