.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: auto;
  
  
}

.slider{
  
  width: 1100px;
  height: 750px;
  
  
}

/*Desktop*/
@media only screen and (min-width: 1440px) {
  .container{
    height: 80vh;
  }
  .slider {
      height: 75vh;
      width: 65%;
  }
}

/*Large Laptop*/
@media only screen and (max-width: 1440px) {
  .container{
    height: 75vh;
  }
  .slider {
      height: 95%;
      width: 70%;
      
  }
}

/*TabletLandscape*/
@media only screen and (max-width: 1024px) {

  .slider {
    height: 90%;
    width: 90%;  
  }
}

/*Tablet*/
@media only screen and (max-width: 768px) {

  .container{
    height: 85vh;
  }
  .slider {
    height: 90%;
    width: 90%;  
  }
}

/*MobileL*/
@media only screen and (max-width: 425px) {

  .slider {
    height: 98%;
    width: 95%;  
  }
}

/*MobileM*/
@media only screen and (max-width: 375px) {

 
  .slider {
    height: 98%;
    width: 95%;  
    margin-top: 5%;
  }
}

/*MobileS*/
@media only screen and (max-width: 375px) {

 
  .slider {
    height: 98%;
    width: 95%;  
    margin-top: 10%;
  }
}


/*VerySmallheightscreen*/
@media only screen and (max-height: 600px) {

  .container{
    height: 70vh;
  }
  .slider {
    height: 75%;
    width: 70%;  
    
  }
}

@media only screen and (max-height: 500px) {

  .container{
    height: 65vh;
  }
  .slider {
    height: 75%;
    width: 70%;  
    
  }
}

/*Smallheightscreen*/
@media only screen and (max-height: 840px){
  
  .slider {
    height: 90%;
    width:95%;  
    
  }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height: 667px){

      .container{
        height: 500px;
      }
      .slider {
        
        width: 80%;  
        
      }

    }