.Picture {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 690px;
}

.PictureTxt {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 850px;
}

.PictureTxt h1 {
    color: #f6f6f6;
    position: absolute;
    z-index: 1;
    width: 100%;
    font-style: italic;
    top: 10px;

}

.PictureTxt p {
    position: absolute;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    bottom: 30px;
    color: #f6f6f6;
}

.PictureTxt img {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 650px;
    position: relative;
    border-radius: 10px;
    object-fit: cover;
}

/*Desktop*/
/*@media only screen and (min-width: 1440px) {
    .Picture {
       
        height: 750px;
    
    }
    .PictureTxt img{
        height: 650px;
    }
}*/
   /*Large Laptop*/
  @media only screen and (max-width: 1440px) {
    .Picture {
        height: 700px;
    }
    .PictureTxt img{
        height: 600px;
        width: 110%;
    }
  }
  
  /*TabletLandscape*/
  @media only screen and (max-width: 1024px) {
    .Picture {
        height: 700px;
    }
    .PictureTxt img{
        height: 650px;
        width: 85%;
    }
   
  }
  
  /*Tablet*/
  @media only screen and (max-width: 768px) {
    .PictureTxt img{
        height: 650px;
        width: 50%;
    }
    .PictureTxt p {
        position: absolute;
        font-size: 10px;
        font-style: italic;
        font-weight: 700;
        bottom: 40px;
        color: #f6f6f6;
        width: 550px;
    }
   
  }
  
  /*MobileL*/
  @media only screen and (max-width: 425px) {
    .PictureTxt img{
        height: 600px;
        width: 40%;
    }
  }
  
  /*MobileM*/
  @media only screen and (max-width: 375px) {
    .PictureTxt img{
        height: 600px;
        width: 300px;
    }
  }
  
  /*MobileS*/
  @media only screen and (max-width: 320px) {
    .PictureTxt img{
        height: 50vh;
        width: 300px;
    }
    .Picture {
        height: 300px;
    }
    
  }


